{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "include": ["src/*"],
  "exclude": [
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "src/tests/*",
    "src/index.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "html",
    "text",
    "text-summary",
    "json"
  ],
  "all": true,
  "instrument": true
}